annotated-types==0.7.0
cryptg==0.5.0.post0
pillow==11.0.0
pyaes==1.6.1
pyasn1==0.6.1
pydantic==2.10.3
pydantic-settings==2.6.1
pydantic_core==2.27.1
python-dotenv==1.0.1
rsa==4.9
Telethon==1.38.1
typing_extensions==4.12.2
